<h1>Help</h1>
<div class="card">
    <div class="card-body">
        <p> You can browse list of projects, events and meetings to check out their countdown timer. But if you want to add New Project or Event or Meeting you have create an account and login.</p>
    </div>
</div>.
