<h1>Editing Directorate</h1>
<div class="card">
    <div class="card-body">

<%= render 'form', directorate: @directorate %>

<%= link_to 'Show', @directorate, class: 'btn btn-info' %> |
<%= link_to 'Back', directorates_path, class: 'btn btn-info'%>

    </div>
</div>
