<div class="card">
    <div class="card-body">
<p>
  <strong>Directorate Name:</strong>
  <%= @directorate.name %>
</p>

<p>
  <strong>About the directorate:</strong>
  <%= @directorate.description %>
</p>

<%= link_to 'Edit', edit_directorate_path(@directorate), class: 'btn btn-info' %> |
<%= link_to 'Back', directorates_path, class: 'btn btn-info' %>

    </div>
</div>
