<h1>New Meeting</h1>
<div class="card">
    <div class="card-body">

<%= render 'form', meeting: @meeting %>

<%= link_to 'Show', @meeting, class: 'btn btn-info' %> |
<%= link_to 'Back', meetings_path, class: 'btn btn-info' %>
    </div>
</div>
