<h1>New Meeting Type</h1>
<div class="card">
    <div class="card-body">
        <%= render 'form', meeting_type: @meeting_type, class: 'btn btn-info' %>

        <%= link_to 'Back', meeting_types_path, class: 'btn btn-default' %>
    </div>
</div>
