<h1>Editing Minute</h1>
<div class="card">
    <div class="card-body">
<%= render 'form', minute: @minute %>

<%= link_to 'Show', @minute %> |
<%= link_to 'Back', minutes_path, class: 'btn btn-info' %>
    </div>
</div>
