<h1>New Weekly Plan</h1>
<div class="card">
    <div class="card-body">
        <%= render 'form', weekly_plan: @weekly_plan %>
        <%= link_to 'Back', weekly_plans_path, class: 'btn btn-info' %>
    </div>
</div>
